<div *ngIf="true then zeroBlock">
</div>
<ng-template #aBlock>
    <div>
        <span>A</span>
    </div>
</ng-template>
<ng-template #bBlock>
    <div>
        <span>B</span>
    </div>
</ng-template>
<ng-template #aAndBBlock>
    <div>
        <span>A</span>
        <span> separator </span>
        <span>B</span>
    </div>
</ng-template>

<button (click)="changeA()">A = true</button>
<button (click)="changeB()">B = true</button>
<button (click)="changeAB()">A and B = true</button>
<button (click)="show()">Show</button>

{{a}} {{b}}